@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Montserrat:ital,wght@1,300&family=Nuosu+SIL&family=Roboto+Condensed:ital,wght@1,300&disp');

:root {
    --heading-font: Abril Fatface, sans-serif;
    --paragraph-font:  Open Sans, sans-serif;
    --main-color: #BEEF69;
    --second-color:#399E00;
    --different-color: #FF85DF;
    --fourth-color: #6046E0;
    --dark-color: #000B6B;
    --orange: #FFB12D;
}
body {
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}
header {
    display: grid;
    grid-template-columns: 150px 1fr;
    text-align: center;
    background-color: var(--main-color);
    
    position:fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    margin-right:20px;
}
nav a:hover {
    color: var(--different-color);
    background-color: var(--dark-color);
}
nav a, .social a {
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    max-width: 100px;
    height: auto;
    object-fit: contain;
}
#hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top:110px;
}
#hero-box { 
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 30px;
    margin: 30px;
    align-self: center;

    background-color: rgba(300,300,300, 0.5);
}
.title-card {
    padding:20px;
}
article, section {
    padding: 20px;
}
#Career-Objectives {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--main-color);
}
#Career-Objectives h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--second-color);
    text-align: center;
    padding: 20px;
}
#Career-Objectives p {
    grid-column: 1/4;
}
#Education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--dark-color);
    gap: 50px 50px;
}
h1 {
    font-family: var(--heading-font);
}
#Education img {
    grid-column: 1/2;
    grid-row: 2/4;
    margin: auto;
    max-width: 80%;
}
#Education h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
#Associates, #Bachlors{
    grid-column: 2/3;
    text-align: center;
    background-color: var(--different-color);
}
footer {
    text-align: center;
    text-decoration: none;
    background-color: var(--second-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: var(--paragraph-font);
    z-index: 5;

    bottom: 0;
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}

.date {
    font-size: 0.75em;
}
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 170px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--dark-color); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 110px;
}
  /* The navigation menu links */
.sidenav a {
  /*padding: 8px 8px 16px 16px;*/
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: var(--second-color);
  display: block;
  text-align: center;
}
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--different-color);
  background-color: var(--second-color);
}
.notsidenav {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.title_card {
    margin-top: 125px;
}
#history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}
#history h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    background-color: var(--main-color);
}
#history p {
    grid-column: 1/2;
    grid-row: 2/3;
}
#history img {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: auto;
}


* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }